.randomPopup {
    text-align: center;
}
#limits {
    display:none;
    font-size: 20px;
}
#title {
    padding: 50px;
}
#option {
    font-size: 20px;
}
#result {
    font-size: 20px;
}
#value1 , #value2 {
    font-size: 20px;
}
#redo {
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    border-style: solid;
    border-color:black;
    border-width: 2px;
}
#redo:hover {
    opacity: 0.5;
    cursor: pointer;
}
#redo:active {
    opacity: 0.8;
}
#include {
    font-size: 20px;
    display:none;
}
input[type=checkbox] {
    zoom: 1.5;
}